.wrapper {
  margin-block-end: 6rem;
}

.wrapper::last-child {
  margin-block-end: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: calc(32 / 16 * 1rem);
}

@media (min-width: 600px) {
  .header{
    margin-block-end: calc(48 / 16 * 1rem);
  }
}

.title {
  font-size: 2rem;
  text-transform: capitalize;
}

.moreLink {
  position: relative;
  font-weight: 500;
  color: var(--color-gray-700);
  font-size: 1.25rem;
}

.moreLink::after {
  content: "→";
    display: inline-block;
    padding-inline-start: 0.5rem;
    transform: translate3d(0rem, 0, 0);
    transition: transform 300ms ease;
}

.moreLink:hover::after {
  transform: translate3d(0.5rem, 0, 0);
  transition: transform 300ms ease;
}

@media (min-width: 600px) {
   .moreLink {
    font-size: 1rem;
   }
}

.hideMobile {
  display: none;
  text-transform: capitalize;
}

@media (min-width: 600px) {
  .hideMobile {
    display: inline;
  }
}