.reactMarkDown {
  font-size: 1.25rem;
  /* font-family: var(--MDSystem); */
  line-height: 2.5rem;
}

.reactMarkDown h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: -0.02rem;
  margin-block-end: 0.5rem;
}

.reactMarkDown h3 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.02rem;
}

.reactMarkDown p {
  margin-block-end: 1rem;
}

.reactMarkDown p:last-child {
  margin-block-end: 0rem;
}

.reactMarkDown strong {
  font-weight: 550;
}

#special {
  font-size: 4rem;
  color: hotpink;
}
