.button {
  display: flex;
  border: #222 2px solid;
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
  gap: 0.3rem;

  transition: all 0.5s ease;
}

.button:hover {
  background-color: #222;
  color: #fff;
}

.iconWrapper {
  transform: translateY(calc(2.5 / 16 * 1rem));
}