.imageContainer {
  position: relative;
  width: 100%;
  height: 100%; /* or adjust as needed */
}

.lowQualityImage, .highQualityImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lowQualityImage {
  filter: blur(20px);
}

@keyframes fadeAndDeblur {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.highQualityImage {
  opacity: 0;
  filter: blur(20px);
}

.highQualityImage.visible {
  animation: fadeAndDeblur 500ms forwards;
}