.headerText {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  margin-block-start: 0.85rem;
  margin-block-end: 0rem;
}

@media (min-width: 600px) {
  .headerText {
    font-size: 5rem;
    margin-block-start: 2.3rem;
    margin-block-end: 0rem;
  }
}

.subText {
  font-size: 1rem;
  margin-block-end: 2rem;
  color: var(--color-gray-900);
}

@media (min-width: 600px) {
  .subText {
    font-size: 1.4rem;
    margin-block-end: 5rem;
  }
}