.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width: 600px) {
  .wrapper {
    align-items: flex-end;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.route:not(:last-child)::after {
  content: "·";
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}

.styledLink {
  font-size: 1.25rem;
}

@media (min-width: 600px) {
  .styledLink {
    font-size: 1rem;
  }
}

.styledLink:hover {
  color: var(--color-gray-700);
}