.footer {
  margin-block-start: 8rem;
}

.footerInside {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  opacity: 0.4;
  transition: opacity 500ms ease-in-out;

  padding-block-start: 6rem;
  padding-block-end: 6rem;
}

@media (min-width: 600px) {
  .footerInside {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.footerInside:hover {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.logoWrapper {
  font-size: 2.33rem;
  line-height: 2.75rem;
  font-weight: 700;
}