.nav {
  font-size: 1.2rem;
}

.list {
  margin: 0;
    padding: 0;
}

.listItem {
  display: inline;
  margin-right: 0.5rem;
  color: var(--color-offblack);
}

.listItem::after {
  content: "/";
  margin-left: 0.95rem;
  margin-right: 0.5rem;
}

.listItem:hover {
  color: var(--color-gray-900);
}